
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    margin: 0;
    padding: 0;
}
body{
    background: #1D1B26;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

@mixin button-style{
    cursor: pointer;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding: 20px 25px;
        border: 1px solid;
        border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
        border-image-slice: 1;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: .8s cubic-bezier(.165, .84, .44, 1);
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            width: 100%;
            z-index: -1;
            background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
            transition: .8s cubic-bezier(.165, .84, .44, 1);
        }
        &:hover{
            background: rgba(255, 255, 255, 0);
        }
        &:hover::before{
            bottom: 0%;
            top: auto;
            height: 100%;
        }
}

.button-add-file{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #add-file{
        display: none;
    }
    label{
        @include button-style();
    }
}

.form{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 40px;
    display: none;
    h1{
        text-align: center;
        margin-bottom: 40px;
        &::first-letter{
            text-transform: uppercase;
        }
    }
    .fields{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 10px;
        }
        input{
            margin-bottom: 20px;
            padding: 10px 20px;
            border-radius: 10px; 
        }
        input[type=file], input[type=color]{
            padding: 0;
            border-radius: 0;
        }
        
    }
}
input[type=checkbox]
{
    margin-right: 10px;
}
.buttons{
    padding: 30px 0;
    a{
       @include button-style();
       min-width: 100px;
       padding: 10px 20px;
       letter-spacing: 0;
       text-transform: none;
       margin-right: 20px;
    }
}